<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver"                           value="org.postgresql.Driver"/>
                <property name="url"                              value="${url}"/>
                <property name="username"                         value="${username}"/>
                <property name="password"                         value="${password}"/>
                <!-- set transaction isolation level to 2, TRANSACTION_READ_COMMITTED, PostgreSQL's default -->
                <property name="defaultTransactionIsolationLevel" value="2"/>
                <!-- set pg_stat_activity.application_name for this connection -->
                <property name="driver.ApplicationName"           value="Facts Parser App"/>
            </dataSource>
        </environment>
    </environments>

    <mappers><!--в данном блоке необходимо описать маперы, которые используются в проекте-->
        <mapper resource="Mapper\ExpressionMapper.xml"/>
        <mapper resource="Mapper\FactMapper.xml"/>
        <mapper resource="Mapper\KnownFactsMapper.xml"/>
        <mapper resource="Mapper\RulesMapper.xml"/>
        <mapper resource="Mapper\FactsInsertMapper.xml"/>
    </mappers>

</configuration>