<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parserPackage.dbTools.mapper.ExpressionMapper">
    <resultMap id="ExpressionResult" type="parserPackage.dbTools.IdKeeper">
        <id property="id" column="Exp_id"/>
        <result property="factId" column="Fact_id"/>
        <result property="type" column="Type"/>

    </resultMap>
    <select
            id="getExpression"
            parameterType="java.lang.Integer"
            resultMap="ExpressionResult"
            resultType="parserPackage.dbTools.IdKeeper">
          SELECT "Expressions"."Exp_id", "Facts"."Fact", "ExpressionTypes"."Type"
          FROM "Expressions"
          INNER JOIN "ExpressionTypes" ON ("Expressions"."Type_id" = "ExpressionTypes"."Type_id")
          INNER JOIN "Facts" ON ("Expressions"."Fact_id" = "Facts"."Fact_id")
          WHERE "Expressions"."Exp_id" = #{id}
    </select>
    <select
            id="getOperandsByExpId"
            parameterType="java.lang.Integer"
            resultType="java.lang.Integer">
        SELECT "ExpressionRelations"."Operand_id"
        FROM "ExpressionRelations"
        WHERE "ExpressionRelations"."Expression_id" = #{id}
    </select>
    <!--<select id="getType"
            parameterType="java.lang.Integer"
            resultType="java.lang.String">
        SELECT "ExpressionTypes"."Type"
        FROM "ExpressionTypes"
        WHERE "ExpressionTypes"."Type_id" = #{id}
    </select>-->
</mapper>