<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parserPackage.dbTools.mapper.KnownFactsMapper">
    <select
            id="getKnownFacts"
            resultType="java.lang.String">
        SELECT "Facts"."Fact"
        FROM "Facts", "KnownFacts"
        WHERE "Facts"."Fact_id" = "KnownFacts"."Fact_id"
    </select>
</mapper>