<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parserPackage.dbTools.mapper.RulesMapper">
    <resultMap id="RuleResult" type="parserPackage.dbTools.DbRule">
        <id property="id" column="Rule_id"/>
        <result property="expressionId" column="Expression_id"/>
        <result property="factId" column="Fact_id"/>
    </resultMap>
    <select
            id="getRules"
            resultMap="RuleResult">
        SELECT *
        FROM "Rules"
    </select>
</mapper>